.Pokedex{
    text-align: center;
}
.Pokedex-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner {
    color: greenyellow;
}

.Pokedex-loser {
    color: #e91e6e;
}